@media ( max-width: 1920px)
  .hero-square
    width: 55vw
  .gray-square
    width: 50vw
    height: 900px
  .hero-name
    right: 50px
    &__about
      right: 50px
@media ( max-width: 1200px)
  .header-wrapper
    margin: 0 50px
  .gray-square
    width: 60vw
    height: 900px
  .hero-name
    font-size: 65px
    line-height: 80px
    max-width: 630px
    min-height: 260px
    right: 10px
    margin: 0
    &--country
      font-size: 65px
      line-height: 80px
      top: 161px
    &__about
      max-width: 630px
      top: 580px
      right: 10px
      font-size: 16px
@media ( max-width: 992px)
  .header-wrapper
    margin: 0 40px
  .gray-square
    display: none
  .hero-name
    max-width: 408px
    min-height: 335px
    font-size: 56px
    line-height: 67px
    top: 253px
    &--country
      top: 265px
      font-size: 56px
      line-height: 67px
    &__about
      top: 620px
      max-width: 408px
      font-size: 18px
@media ( max-width: 740px)
  .navbar-menu
    display: none
