.firms
  max-width: 2040px
  height: 140px
  &-list
    display: flex
    list-style-type: none
    margin: 0
    padding: 0
  &-item
    line-height: 140px
    text-align: center
    width: 340px
    height: 140px
    border: 1px solid $level-1
    &:first-child
      border-left: none
    &:last-child
      border-right: none
    &__link
      &--logo
        vertical-align: middle
